project.jdk.home=/opt/jdk
project.jdk.bin=${project.jdk.home}/bin

idea135.home=/opt/JetBrains/IntelliJ IDEA Community Edition-13.5
idea140.home=/opt/JetBrains/IntelliJ IDEA Community Edition-14.0

javac2.instrumentation.includeJavaRuntime=false

# For integration tests
p4d=/usr/local/bin/p4d-2.6_x64-2014.2.962050

