
# This should be JDK 1.8 or higher
project.jdk.home=/opt/jdk

# Source compatible JDK 1.6 library path
java6.lib=/opt/jdk1.6/jre/lib

# Source compatible JDK 1.8 library path
# If you don't define this, the path will
# be based off of the project.jdk.home
# location.
java8.lib=/opt/jdk1.8/jre/lib

